html {
    background: url("img/background_html.jpg") no-repeat top center;
    height: 950px;
    overflow: hidden
}

body {    
    margin: 0 auto;
    display: block;
    padding: 0 0 50px;
    background: none;   
    position: relative; 
}

/*header*/

.b-header {
    position: relative;
    width: 100%;
    height: 70px;
    background: rgba(31,31,31, .75);
    opacity: .75;
    margin: 0 0 30px;
    z-index: 1;
}

.b-header h1 {  
    position: relative;      
    text-align: center;
    font: 40px 'BookAntiqua', 'Palatino Linotype', Palatino, serif;
    color: #90c768;
    line-height: 60px;  
    width: 800px;
    margin: 0 auto;  
}

.b-header h1 span {
    font-size: 10px;
}

.b-header h1::after {
    position: absolute;
    top: 11px;
    right: 100%;
    content: '';
    display: block;
    width: 182px;
    height: 46px;
    background: url('img/logo.png') no-repeat;
    border-right: 1px solid #90c768;
    padding-right: 10px;
}

.b-header h1 span.b-header_name {
    position: absolute;
    top: 11px;
    left: 100%;
    display: block;
    width: 182px;
    height: 46px;
    padding: 0 0 0 10px;
    border-left: 1px solid #90c768;
    font: 12px Verdana;
    color: #90c768;
    text-align: left;
}

/*
Коричневый цвет на сайте - #83372b
Зеленый - #90c768
*/ 

/*Верстка на дивах для скрпита*/
div.b-wrapper {
    width: 840px;
    /*max-height: 1800px;    */
    margin: 0 auto;
    overflow-y: scroll;
}

div.b-contacts {    
    position: relative;    
    margin: 0 auto;
    width: 795px;
    margin-left: 25px;    
    /*max-height: 729px;*/
    z-index: 0;    
}


/*Скролл-бар*/
div.b-wrapper::-webkit-scrollbar {
    width: 10px;      
}

/*-----------------------------------*/
 
div.b-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;    
    padding-left: 5px;
}

 
div.b-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #90c768;
}

/*----------------------------------------------*/
div.b-department {
    overflow: hidden;
    width: 100%;    
    max-height: 32px;  
    margin: 0 auto;  
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all .5s linear; 
    /*margin-bottom: 5px;*/
    position: relative;
    top: 0;        
}

div.b-department:last-child {    
    margin-bottom: 2px !important;
}

div.height-full {    
    -moz-transition: all 1s linear; 
    -o-transition: all 1s linear;
    -webkit-transition: all .5s linear; 
    max-height: 1000px;   
}

div.b-department_header {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #83372b;
    padding: 5px 20px;
    /*box-shadow: 0 2px 2px 0 rgba(144,199,104, 1) inset;*/
    
    
}

/* черная анимация заполнения блока снизу при наведении*/

div.b-department_header:before {
	content:'';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 0;
	background: #2d2b2c;	
    transition: all .5s ease;     
    opacity: .9;
}

div.b-department_header:hover:before {    
    height: 32px;
    
}

/*-----------------------------------------------------*/
/** Анимация замены цвета**/

/*div.b-department_header h3 {    
    transition: color 1s;
}

div.b-department_header h3:hover {
    color: #90c768;    
}

/*-----------------------------------------------------*/
div.b-department:nth-child(even) div.b-department_header {
    background-color: #974b3f;   
        
}

/*-------------------------------------------------------*/

div.b-department h3 {    
    position: relative;    
    font-weight: bold;        
    font: 18px Verdana !important;
    color: #fefefe;  
    display: inline; 
}

/*----------------------------------------------*/

div.height-full > div.b-department_header {
    background: #2d2b2c !important;
    position: relative;
}

/*----------------------------------------------*/

div.b-department h3::before {
    content: '';
    position: absolute;
    top: 6px;
    right: -20px;
    display: block;
    width: 7px;
    height: 12px;
    background: url("img/arrow_button.png") -22px -1px no-repeat;
}

div.height-full h3::before {
    content: '';
    position: absolute;
    top: 9px;
    right: -20px;
    display: block;
    width: 12px;
    height: 7px;
    background: url("img/arrow_button.png") 0px -8px no-repeat;
}

/*Переверстал блок отдела со списока сотрудников на таблицу*/

table.b-employees {
    width: 100%;
    background: white;
    border: 5px solid #2d2b2c;
    border-top:  none;
}

table.b-employees td {
    padding: 5px 20px;
    font: 12px Verdana;
    line-height: 22px;
    vertical-align: middle;
    font-weight: bold;
}

table.b-employees td a,
table.search-result td a {
    color: #000;
    position: relative;
}

table.b-employees td a:hover,
table.search-result td a:hover {
    text-decoration: none;
    color: #3958dc;
}

table.b-employees td a::before,
table.search-result td a::before {
    content: '';
    position: absolute;
    bottom: 3px;
    right: -20px;
    display: block;
    width: 16px;
    height: 10px;
    background:  url("img/e-mail2.png") no-repeat top center;
}

table.b-employees tr:nth-child(even) {    
    background: #c0e3a7;
}

table.b-employees td:nth-child(1) {         
    width: 270px;    
}

table.b-employees td:nth-child(2) {
    text-align: center;
    font-size: 12px;
    color: gray;   
    font-weight: normal;  
    width: 370px;    
}

table.b-employees td:nth-child(3) {
    text-align: center;        
    width: 27px;     
}

/*------------------------------------------------*/
/* СТИЛИЗАЦИЯ КНОПОК ДЛЯ ПОЛНОГО СВОРАЧИВАНИЯ И РАЗВОРАЧИВАНИЯ ВСЕГО СПИСКА */

.b-button-all {
    position: relative;
    padding: 0px;    
    margin: 0 auto;
    height: 20px;
    width: 780px;
}

.b-button-all input {    
    background: #90c768;
    border: none;
    padding: 5px 10px 20px;
    cursor: pointer;
    border-radius: 5px;        
    transition: all .5s ease;   
}

.b-button-all input.all-full {
    position: absolute;
    bottom: -15px;
    left: 15px;       
}

.b-button-all input.all-full:hover,
.b-button-all input.all-null:hover {
    bottom: -12px;
    color: white;    
}

.b-button-all input.all-null {
    position: absolute;
    bottom: -15px;
    left: 155px;
}

/*Строка поиска*/

#search {        
    position: relative;
    margin: 0 auto;    
    width: 800px;
    height: 32px;
    margin-bottom: 15px;
    padding-left: 10px;    
}

#search input#searchValue {
    width: 775px;
    height: 32px;
    border: none;
    color: #90c768;    
    font: 16px Verdana;
    padding: 0 0 0 20px;   
    border-radius: 32px; 
    box-shadow: 0 0 0 2px #999 inset;
    background: none;
}

#search input#searchValue::-webkit-input-placeholder { color: #999; }

#search input#searchValue:focus {
    box-shadow: inset 0 0 0 2px #90c768;
    outline:none;
}

#search input#searchValue:focus::-webkit-input-placeholder { color:transparent; }

input#searchBack{
    display: none;
    position: absolute;
    top: 4px;
    right: 10px;    
    background: url("img/searchBack.png") no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .5);
    height: 24px;    
    width: 24px;			        
    font-size: 20px;
    color: white;
}

input#searchValue::-ms-clear {
    display: none !important;
 }

input#searchBack:active{
    top: 5px;
    box-shadow: none 
}

input#searchBack:focus {
    border: none;
    outline:none;
}

p#concurrences {
    display: none;
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 12px;
    color: #90c768;
}

p#ban-message {
    position: absolute;
    top: -28px;
    left: 240px;
    display: none;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 10px;
    background: rgba(31,31,31, .75);
    color: white;
}

p#ban-message:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;	
    border-top: 4px solid rgba(31,31,31, .75);
}

/*-------------------------------------------------------------------*/

/* Выезжающий блок слева с текстом для пользователей*/

/* Сообщение для пользователей с левой стороны*/

p.b-message_left {
    display: block;
    position: absolute;
    top: 100px;
    left: -325px;
    background: rgba(144,199,104, 1);
    width: 300px;    
    padding: 15px 30px 15px 20px;
    transition: all 1s ease;
    border-radius: 0 20px 20px 0;
    z-index: 1;    
}

p.b-message_left:hover {left: 0}

p.b-message_left:after {
    position: absolute;
    top: 48%;
    right: 10px; 
    content: '';
    position: absolute;    
    display: block;
    width: 7px;
    height: 12px;
    background: url('img/arrow_button.png') -22px -1px no-repeat;
}

/* сообщение для пользователей справа*/
p.b-message_right {
    display: block;
    position: absolute;
    top: 100px;
    right: -325px;
    background: rgba(144,199,104, 1);
    width: 300px;    
    padding: 15px 20px 15px 30px;
    transition: all 1s ease;
    border-radius: 20px 0 0 20px;
    z-index: 1;    
}

p.b-message_right:hover {right: 0}

p.b-message_right:after {
    position: absolute;
    top: 48%;
    left: 10px; 
    content: '';
    position: absolute;    
    display: block;
    width: 7px;
    height: 12px;
    background: url(img/arrow_button.png) -14px -1px no-repeat;
}

div.b-office {
    overflow: hidden;
    width: 100%;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all .1s linear;    
    margin-bottom: 5px;
}

div.b-office:last-child {
    margin-bottom: 0px;
}

div.b-office_header {
    display: block;
    position: relative; 
    background: #1f1f1f;
    padding: 0 20px;
}

div.b-office_header h3 {
    font-size: 20px;
    color: #fff;
    line-height: 52px;
    margin-bottom: 5px;
}

/* Выдача результатов поиска*/

table.search-result {
    width: 795px;
    background: white;
    border: 5px solid #2d2b2c;    
    margin-left: 25px;    
}

table.search-result td {
    padding: 5px 20px;
    font: 12px Verdana;
    line-height: 22px;
    vertical-align: middle;
    font-weight: bold;
}

table.search-result tr:nth-child(even) {    
    background: #c0e3a7;
}

table.search-result td:nth-child(1) {         
    width: 270px;    
}

table.search-result td:nth-child(2) {
    text-align: center;
    font-size: 12px;
    color: gray;   
    font-weight: normal;  
    width: 370px;  
}

table.search-result td:nth-child(3) {
    text-align: center;        
    width: 27px;     
}

span.search-result {
    /*display: block;*/
    background: yellow;
}

/*Стилизация времени---------------------------------------------------------*/
div.b-date {
    display: block;
    position: absolute;
    top: 100px;
    right: 0px;
    background: rgba(31,31,31, .75);    
    padding: 10px 20px 10px 20px;
    transition: all 1s ease;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    font-size: 16px;    
    color: #90c768;
    line-height: 25px;
    text-align: right;
    
}

/* БЛОК "СОВПАДЕНИЙ НЕТ" -----------------------------------*/

.blockSearchNull {
    padding: 30px;
    margin: 0 25px;
    text-align: center;
    background: rgba(31,31,31, .75);
    border-radius: 20px;
    width: 735px;
    font-size: 20px;
    line-height: 22px;
    color: #90c768;
    font-weight: normal !important;    
}