#todo-list {
    position: absolute;
    top:190px;
    right: -290px;
    width: 250px;
    background: rgba(31,31,31, .75);
    padding: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 12px;
    color: #90c768;
    line-height: 25px;
    text-align: center;
}

#todo-list ul li {
    display: block;
    background: beige;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 195px;
    padding: 0 30px;
    position: relative;    
}

#todo-list ul li:first-child {
    margin-top: 10px;
}

#todo-list ul li:last-child {
    margin-bottom: 0;
}

.todo-new {
    font-size: 12px;
    position: relative;
    height: 25px;
}

#todo-new-text {
    width: 198px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    /*margin: 0 0 10px;*/
    border: none;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 0 2px #90c768;
    padding-left: 7px;    
}

#todo-new-button {
    text-align: center;
    width: 50px;
    height: 27px;
    background: #90c768;
    border-radius: 0 5px 5px 0;
    border: none;
    color: white;    
    position: absolute;
    top: 0;
    left: 205px;
    cursor: pointer;
    font-size: 20px;
}

#todo-new-text:focus, #todo-new-button {
    outline: none;
}

.todo-checkbox {
    margin: auto;
    position: absolute;
    top: 7px;
    left: 10px;    
}

.todo-remove-button {
    text-align: center;
    width: 30px;
    height: 25px;
    background: #974b3f;
    border-radius: 0 4px 4px 0;
    border: none;
    color: white;    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
}

.message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;    
}

li.task {
    text-align: left;
    height: 25px;
    overflow: hidden;
}

li.task span {
    width: 185px;
    display: block;
    overflow: hidden;
}

.todo-list_state {
    position: absolute;
    top: 20px;
    left: -24px;
    background: rgba(31,31,31, .75);
    border: none;
    color: #90c768;
    height: 27px;
    width: 24px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;    
}